<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            <div th:if="${person} != null">
                <div class="alert alert-info">
                    Zalogowany użytkownik: <span th:text="${person}"></span>
                </div>
            </div>
            <!--<span sec:authorize="isAuthenticated()">-->
                <!--| Zalogowany użytkowik: <span sec:authentication="name"></span> |-->
                <!--Rola: <span sec:authentication="principal.authorities"></span> |-->
            <!--</span>-->

            <script type="text/javascript"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>

</div>
</body>
</html>