<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:fragment="header-css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
        <!-- Bootstrap -->
        <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>

        <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>


</head>
<body>

    <!--<script src="http://code.jquery.com/jquery.js"></script>-->



<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="dropdown">
            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav nav-tabs">
                    <li class="active"><a th:href="@{/user}">Strona stratowa</a></li>
                    <li class="active"><a th:href="@{/user/trade/invoice/adding}">Wprowadź fakturę sprzedaży</a></li>
                    <li class="active"><a th:href="@{/user/purchase/invoice/adding}">Wprowadź fakturę zakupu</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Podgląd finansów <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="active"><a th:href="@{/user/trade/invoice/listing}">Faktury sprzedaży</a></li>
                            <li class="active"><a th:href="@{/user/purchase/invoice/listing}">Faktury zakupu</a></li>
                            <li class="active"><a th:href="@{/user/purchase/record/listing}">Rejestr sprzedaży</a></li>
                            <li class="active"><a th:href="@{/user/trade/record/listing}">Rejestr zakupu</a></li>
                            <li class="active"><a th:href="@{/user/reckoning/listing}">Rozliczenie miesięczne</a></li>
                        </ul>
                    </li>
                    <li class="active"><a th:href="@{/user/reckoning/generating}">Generuj rozliczenie miesięczne</a></li>
                    <li class="active"><a th:href="@{/user/password/changing}">Zmień hasło</a></li>
                    <li class="active"><a th:href="@{/logout}">Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>