<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Wprowadzanie faktury</title>
</head>
<body>

<div th:if="${admin} != null">
    <div th:replace="fragments/header_admin :: header"/>
</div>

<div th:if="${admin} == null">
    <div th:replace="fragments/header :: header"/>
</div>

<div class="container">

    <div class="starter-template">
        <h1>Nowa faktura</h1>

        <div th:if="${error} != null">
            <div class="alert alert-info">
                <span th:text="${error}"></span>
            </div>
        </div>

        <form th:action="@{/user/invoice/adding}" method="post">
            <ul>
                <li>
                    <label for="currentPassword" class="upasswd" data-icon="p"> Obecne hasło </label>
                    <input id="currentPassword" name="currentPassword" required="required" type="password" placeholder="hasło" />
                </li>

                <li>
                    <label for="newPassword" class="upasswd" data-icon="p"> Nowe hasło </label>
                    <input id="newPassword" name="newPassword" required="required" type="password" placeholder="hasło" />
                </li>

                <li>
                    <label for="newPassword2" class="upasswd" data-icon="p"> Powtórzenie nowego hasła </label>
                    <input id="newPassword2" name="newPassword2" required="required" type="password" placeholder="hasło" />
                </li>

                <li>
                    <input type="submit" class="button" value="Zapisz"/>
                </li>

            </ul>
        </form>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>