<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Lista użytkowników</title>
</head>
<body>

<div th:replace="fragments/header_admin :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page</h1>

        <div th:if="${not #lists.isEmpty(persons)}">
            <h1>Lista użytkowników</h1>
            <table class="persons-table">
                <tr>
                    <th>Login</th>
                    <th>Imiona</th>
                    <th>Nazwisko</th>
                </tr>
                <tr th:each="person: ${persons}">
                    <td th:text="${person.username}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.surname}"></td>
                </tr>
            </table>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>