<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header_admin :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <div th:if="${addedUser} != null">
            <div class="alert alert-info">
                <span th:text="${addedUser}"></span>
            </div>
        </div>
        <div th:if="${failedAdded} != null">
            <div class="alert alert-danger">
                <span th:text="${failedAdded}"></span>
            </div>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>