<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Rozliczenie misięczne</title>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

        <h1>Końcowe rozliczenie miesięczne</h1>
        <div th:if="${month} != null and ${year} != null">
            <div class="alert alert-info">
                Miesiąc:
                <span th:text="${month}"></span>
                Rok:
                <span th:text="${year}"></span>
            </div>
        </div>

        <div th:if="${error} != null">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span th:text="${error}"></span>
            </div>
        </div>


        <div th:if="${map} != null">
            <table class="table table-bordered">
                <caption>Rozliczenie podatku należnego</caption>
                <thead>
                <tr>
                    <th scope="col">Stawka opodatkowania</th>
                    <th scope="col">Podstawa opodatkowania</th>
                    <th scope="col">Podatek należny</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row">5%</th>
                    <td th:text="${map.get('sumTradeNet5')}"></td>
                    <td th:text="${map.get('sumTradeVat5')}"></td>
                </tr>
                <tr>
                    <th scope="row">8%</th>
                    <td th:text="${map.get('sumTradeNet8')}"></td>
                    <td th:text="${map.get('sumTradeVat8')}"></td>
                </tr>
                <tr>
                    <th scope="row">23%</th>
                    <td th:text="${map.get('sumTradeNet23')}"></td>
                    <td th:text="${map.get('sumTradeVat23')}"></td>
                </tr>
                <tr>
                    <th scope="row">Suma</th>
                    <td th:text="${map.get('sumTradeNet')}"></td>
                    <td th:text="${map.get('sumTradeVat')}"></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <caption>Rozliczenie podatku naliczonego</caption>
                <thead>
                <tr>
                    <th scope="col">Rodzaj</th>
                    <th scope="col">Wartość netto</th>
                    <th scope="col">Podatek naliczony</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row">Nadwyżka z poprzedniej deklaracji</th>
                    <td> - </td>
                    <td th:text="${map.get('fromPreviousMonth')}"></td>
                </tr>
                <tr>
                    <th scope="row">Nabycie środków trwałych</th>
                    <td th:text="${map.get('sumFixedAssetsNet')}"></td>
                    <td th:text="${map.get('sumFixedAssetsVat')}"></td>
                </tr>
                <tr>
                     <th scope="row">Nabycie towarów pozostałych</th>
                    <td th:text="${map.get('sumPurchaseOthersNet')}"></td>
                    <td th:text="${map.get('sumPurchaseOthersVat')}"></td>
                </tr>
                </tbody>
            </table>


            <table class="table table-bordered">
                <caption>Rozliczenie końcowe</caption>
                <thead>
                <tr>
                    <th scope="col">Rodzaj</th>
                    <th scope="col">Podatek naliczony</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row">Razem kwota podatku naliczonego do odliczenia</th>
                    <td th:text="${map.get('sumPurchaseVat')}"></td>
                </tr>
                <tr>
                    <th scope="row">Kwota podlegająca wpłacie do Urzędu Skarobowego</th>
                    <td th:text="${map.get('forRevenue')}"></td>
                </tr>
                <tr>
                    <th scope="row">Nadwyżka podatku naliczonego nad należnym</th>
                    <td th:text="${map.get('overhang')}"></td>
                </tr>
                <tr>
                    <th scope="row">Kwota do zwrotu na rachunek bankowy wskazany przez podatnika</th>
                    <td th:text="${map.get('sumRefund')}"></td>
                </tr>
                <tr>
                    <th scope="row">Kwota do zwrotu w terminie 25 dni</th>
                    <td th:text="${map.get('refund25Days')}"></td>
                </tr>
                <tr>
                    <th scope="row">Kwota do zwrotu w terminie 60 dni</th>
                    <td th:text="${map.get('refund60Days')}"></td>
                </tr>
                <tr>
                    <th scope="row">Kwota do zwrotu w terminie 180 dni</th>
                    <td th:text="${map.get('refund180Days')}"></td>
                </tr>
                <tr>
                    <th scope="row">Kwota do przeniesienia na kolejny okres rozliczeniowy</th>
                    <td th:text="${map.get('forNextMonth')}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>