<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Księgowość online</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>


<div class="container">

    <div class="starter-template">
        <h1>Księgowość online</h1>
        <h2>1. Strona dla <a th:href="@{/admin}">administratora</a></h2>
        <h2>2. Strona dla <a th:href="@{/user}">użytkownika</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>