<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Księgowość online</title>

    <div th:replace="fragments/header_basic :: header-css"/>

</head>
<body>

<div th:replace="fragments/header_basic :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Księgowość online</h1>
        <a th:href="@{/admin}" class="btn btn-primary btn-lg btn-block" role="button">Strona dla administratora</a>
        <a th:href="@{/user}" class="btn btn-primary btn-lg btn-block" role="button">Strona dla użytkownika</a>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>