<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Rejestr zakupu</title>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Podsumowanie rejestru zakupu</h1>

        <div th:if="${month} != null and ${year} != null">
            <div class="alert alert-info">
                Miesiąc:
                <span th:text="${month}"></span>
                Rok:
                <span th:text="${year}"></span>
            </div>
        </div>

        <div th:if="${error} != null">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span th:text="${error}"></span>
            </div>
        </div>

        <div th:if="${result} != null">
            <div class="alert alert-info">
                <span th:text="${result}"></span>
            </div>
        </div>

        <div th:if="${record} != null">
            <table class="table table-bordered">
                <caption>Zakupy niezaliczane do środków trwałych</caption>
                <thead>
                <tr>
                    <th scope="col">Suma netto 23%</th>
                    <th scope="col">Suma VAT 23%</th>
                    <th scope="col">Suma netto 8%</th>
                    <th scope="col">Suma VAT 8%</th>
                    <th scope="col">Suma netto 5%</th>
                    <th scope="col">Suma VAT 5%</th>
                    <th scope="col">Suma brutto</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td th:text="${record.sumNet23}"></td>
                    <td th:text="${record.sumVat23}"></td>
                    <td th:text="${record.sumNet8}"></td>
                    <td th:text="${record.sumVat8}"></td>
                    <td th:text="${record.sumNet5}"></td>
                    <td th:text="${record.sumVat5}"></td>
                    <td th:text="${record.sumGross}"></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <caption>Zakupy zaliczane do środków trwałych</caption>
                <thead>
                <tr>
                    <th scope="col">Suma netto</th>
                    <th scope="col">Suma VAT</th>
                    <th scope="col">Suma brutto</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td th:text="${record.sumFixedAssetsNet}"></td>
                    <td th:text="${record.sumFixedAssetsVat}"></td>
                    <td th:text="${record.sumFixedAssetsGross}"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div th:if="${record == null}" class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                   Brak wygenerowanego rejestru zakupu
                </span>
        </div>

        <div id="formToGenReckoning">
            <form th:action="@{/user/reckoning/generating}" method="post">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="hidden" name="month" th:attr="value = ${month}" />
                        <input type="hidden" name="year" th:attr="value = ${year}" />
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Generuj rozliczenie"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>