<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Faktury zakupu</title>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Faktury zakupu</h1>

        <div th:if="${month} != null and ${year} != null">
            <div class="alert alert-info">
                Miesiąc:
                <span th:text="${month}"></span>
                Rok:
                <span th:text="${year}"></span>
            </div>
        </div>

        <div th:if="${error} != null">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span th:text="${error}"></span>
            </div>
        </div>

        <div th:if="${result} != null">
            <div class="alert alert-info">
                <span th:text="${result}"></span>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(invoices)}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Data wystawienia</th>
                    <th scope="col">Numer faktury</th>
                    <th scope="col">Data wprowadzenia</th>
                    <th scope="col">NIP wystawiającego</th>
                    <th scope="col">Sprzedający</th>
                    <th scope="col">Przedmiot zakupu</th>
                    <th scope="col">Netto 23%</th>
                    <th scope="col">VAT 23%</th>
                    <th scope="col">Netto 8%</th>
                    <th scope="col">VAT 8%</th>
                    <th scope="col">Netto 5%</th>
                    <th scope="col">VAT 5%</th>
                    <th scope="col">Brutto</th>
                    <th scope="col">Podlega odliczeniu</th>
                    <th scope="col">Środki trwałe netto</th>
                    <th scope="col">Środki trwałe VAT</th>
                    <th scope="col">Środki trwałe brutto</th>
                    <th scope="col">Usuwanie</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="inv: ${invoices}">
                    <td th:text="${inv.dateOfIssue}"></td>
                    <td th:text="${inv.invoiceNumber}"></td>
                    <td th:text="${inv.dateChanged}"></td>
                    <td th:text="${inv.tradePartnerNIP}"></td>
                    <td th:text="${inv.tradePartnerName}"></td>
                    <td th:text="${inv.dealingThingName}"></td>
                    <td th:text="${inv.net23}"></td>
                    <td th:text="${inv.vat23}"></td>
                    <td th:text="${inv.net8}"></td>
                    <td th:text="${inv.vat8}"></td>
                    <td th:text="${inv.net5}"></td>
                    <td th:text="${inv.vat5}"></td>
                    <td th:text="${inv.gross}"></td>
                    <td th:if="${inv.deducted}">TAK</td>
                    <td th:unless="${inv.deducted}">NIE</td>
                    <td th:text="${inv.fixedAssetsNet}"></td>
                    <td th:text="${inv.fixedAssetsVat}"></td>
                    <td th:text="${inv.fixedAssetsGross}"></td>
                    <td>
                        <form th:action="@{/user/purchase/invoice/deleting}" method="post">
                            <input type="hidden" name="invoiceId" th:attr="value = ${inv.idPurchaseInvoice}" />
                            <input type="hidden" name="invoiceNumber" th:attr="value = ${inv.invoiceNumber}" />
                            <input type="hidden" name="tradePartnerNIP" th:attr="value = ${inv.tradePartnerNIP}" />
                            <input type="submit" class="btn btn-danger" value="Usuń"/>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${#lists.isEmpty(invoices)}" class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                    Brak zarejestrowanych faktur
                </span>
        </div>

        <div th:if="${invoices} == null" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                    Przepraszamy, wystąpiły błędy techniczne, prosimy spróbować ponownie.
                </span>
        </div>

    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>